<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/windowsTemplateStudio" IgnorableNamespaces="uap mp genTemplate">
  <Identity Name="Microsoft.XAMLStudio" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="0.9.0.0" />
  <mp:PhoneIdentity PhoneProductId="CC5D9C64-06FA-4304-9C2A-093E9EEFA70D" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>XAML Studio</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\XamlStudio.StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.16299.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="XamlStudio.App">
      <uap:VisualElements DisplayName="ms-resource:AppPackageDisplayName" Square150x150Logo="Assets\XamlStudio.MedTile.png" Square44x44Logo="Assets\XamlStudio.AppList.png" Description="ms-resource:AppPackageDescription" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\XamlStudio.WideTile.png" Square310x310Logo="Assets\XamlStudio.LargeTile.png" Square71x71Logo="Assets\XamlStudio.SmallTile.png" ShortName="ms-resource:AppPackageDisplayName">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\XamlStudio.SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension Category="windows.appUriHandler">
          <uap3:AppUriHandler>
            <uap3:Host Name="myapp.website.com" />
          </uap3:AppUriHandler>
        </uap3:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="xamlstudio">
            <uap:Logo>Assets\XamlStudio.Icon.png</uap:Logo>
            <uap:DisplayName>Xaml Studio</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="xaml">
            <uap:DisplayName>Xaml File</uap:DisplayName>
            <uap:Logo>Assets\XamlStudio.Icon.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="application/xaml">.xaml</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
  <genTemplate:Metadata>
    <genTemplate:Item Name="generator" Value="Windows Template Studio" />
    <genTemplate:Item Name="wizardVersion" Version="v1.7.18030.1" />
    <genTemplate:Item Name="templatesVersion" Version="v1.7.18030.1" />
    <genTemplate:Item Name="projectType" Value="Blank" />
    <genTemplate:Item Name="framework" Value="MVVMBasic" />
  </genTemplate:Metadata>
</Package>